@media screen {
  html {
    background-color: #333;
    max-width: 35em;
    margin: 0 auto;
    @media (min-device-width: 50em) {
      max-width: 20em;
    }
  }

  body {
    background-color: #fff;
  }
}


/* ----------- Custom CSS ---------- */
.block {
    img{
        max-width: 100%;
        max-height: auto;
        width: 100%;
        height: auto;
    }
}

.header {
    img{
        max-width: 100%;
        max-height: auto;
        width: 100%;
        height: auto;
    }
}

.footer {
    img{
        max-width: 100%;
        max-height: auto;
        width: 100%;
        height: auto;
    }
}

