{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if articles %}
<div class="block blue">
  <h6 class="bubble">{% trans "Health articles" %}</h6>
  {% for page in articles %}
    {% if forloop.first %}
    <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
    {% else %}
    <div class="article-link">
      <h3><a href="{% pageurl page %}">{{page.title}} &gt;</a></h3>
      <a href="" class="comments-count">12</a>
    </div><!-- /article-link -->
  {% endif %}
  {% endfor %}
</div><!-- /block -->
{% endif %}
