{% load wagtailcore_tags wagtailimages_tags i18n comments %}

{% if articles %}
<div class="block blue" id="blue">
  <h6 class="bubble">{% trans "Featured health articles" %}</h6>
  {% for page in articles %}
    {% get_comment_count for page as comment_count %}
    <div class="article-link">
      <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
      <a href="" class="comments-count">{{comment_count}}</a>
    </div><!-- /article-link -->
  {% endfor %}
</div><!-- /block -->
{% endif %}
