{% load wagtailcore_tags wagtailimages_tags static i18n %}

{% if sections %}
{% for section in sections %}
<div class="block {{section.get_effective_extra_style_hints}}">
    {% if section.image %}
    {% image section.image width-240 class="right hide" %}
    {% endif %}
    <h2><a href="{% pageurl section %}">{{section.title}}</a></h2>
    <p>{{section.description}} </p>
        {% for page in section.featured_articles_in_homepage %}
            <div class="article-link">
            <h3><a href="{% pageurl page %}">{{page.title}} ></a></h3>
            <a href="" class="comments-count">12</a>
            </div><!-- /article-link -->
        {% endfor %}
    {% if section.featured_articles_in_homepage %}
    <p class="more"><a href="{% pageurl section %}">{% trans "More" %} +</a></p>
    {% endif %}
</div><!-- /block -->
{% endfor%}
{% endif %}
