{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="block grey join">
	<h2>Login to your account!</h2>
	<h4>We’re excited to have you...</h4>
	<div class="signin-form">
        <form method="post" action=".">{% csrf_token %}
            {% if form.errors %}
                <p class="error errorlist">{% trans "Your username and password does not match. Please try again." %}</p>
            {% endif %}
            <label>{% trans "Username:" %}</label>
            {{ form.username }}
            <label>{% trans "Password:" %}</label>
            {{ form.password }}<br>
            <input type="submit" value="{% trans 'Login' %}"><br>
            <input type="hidden" name="next" value="{{next|default:request.site.root_page.url}}" />
        </form>
        <a href="{% url 'user_register' %}" class="white-link">Click here to register</a>.
	</div><!-- /signin-form -->
</div><!-- /block -->
{% endblock %}
