
{% extends "_base.html" %}

{% load compress static %}

{% block main_css %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ndohyep.css' %}">
<link rel="stylesheet" type="text/x-scss" media="screen and (min-width: 20em)" href="{% static 'css/ndohyep.enhanced.scss' %}">
{% endcompress %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
<div class="header" id="top">

    <a href="/"><img src="{% static 'img/logo.png' %}" alt="Home" class="logo"></a>

    <div id="menu">
        <ul id="nav">
            <li><a href="#nav-area">Menu</a></li>
        </ul>
    </div><!-- /menu -->

    <div class="colorLines">
        <div class="yellow"></div>
        <div class="orange"></div>
        <div class="lightblue"></div>
        <div class="blue"></div>
        <div class="darkblue"></div>
    </div><!-- /colorLines -->

</div><!-- /header -->
{% endblock %}
