{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="articles nav">
  <h2 class="list-header"><a href="#">NDOH Youth Platform</a></h2>
  <ul class="list-block">
    <li>
      <h3><a href="#">List Item 1 header</a></h3>
      <p>List Item 1</p>
    </li>
    <li>
      <h3><a href="#">List Item 2 header</a></h3>
      <p>List Item 2</p>
    </li>
    <li>
      <h3><a href="#">List Item 3 header</a></h3>
      <p>List Item 3</p>
    </li>
    <li class="more">
      <a href="#">More List Items</a>
    </li>
  </ul>
</div>
{% endblock %}
