{% extends "core/_section_page.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
<div class="block yellow">
  {% if self.depth > 4 %}
    <h6><a href="{% pageurl self.get_ancestors.last %}">{{self.get_ancestors.last.title}}</a></h6>
  {% endif %}
    <h2>{{self.title}}</h2>
    {% if self.description%}
    <p>{{self.description}}</p>
    {% endif %}

{% for section in self.sections %}
  <div class="options">
    <a href="{% pageurl section %}">{{section.title}}</a>
  </div>

  {% with page=section.featured_articles|first %}
    {% if page %}
    <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
    <p>{{page.subtitle}}</p>
    {% endif %}
    {% endwith %}
  {% for page in section.featured_articles|slice:"1:3" %}
    <hr/>
    <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
    <p>{{page.subtitle}}</p>
  {% endfor %}
  <p><a href="{% pageurl section %}">+ {% trans "View more articles about" %} {{section.title}}</a></p>
{% endfor %}

  {% with page=self.articles|first %}
  {% if page %}
  <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
  <p>{{page.subtitle}}</p>
  {% endif %}
  {% endwith %}

  <div class="options">
  {% for page in self.articles|slice:"1:" %}
      <a href="{% pageurl page %}">{{page.title}} ></a>
  {% endfor %}
  </div><!-- /options -->
</div>
{% endblock %}
