
@media screen {
    html {
        background-color: #333;
        max-width: 35em;
        margin: 0 auto;
    }
}
@media screen and (min-device-width: 50em) {
    html {
        max-width: 25em;
    }
}
@media screen {
    body {
        background-color: #fff;
    }
}
