
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{margin-left: 20px}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}


/* Fonts */
body {background:white;}
p {font-size:100%;}
.block.white {font-weight:normal; padding: 20px;}


/* Images */
img { max-width:100%;}


/* Header */
.header {position:relative; display:block; }


/* Radios */
.radios {}
	.radios div {display:block; padding:8px 0; font-weight:700;}
	.radios input[type='submit'] {margin-top:10px;}


/* Footer */
.footer {padding:20px 0; font-size:75%; font-weight:normal; clear:both; display:block; border-top: 1px solid #d7dde3;}
	.footer p {padding:5px 20px; color:#b8bfc6;}
   .footer img {max-width:66%;}
	.footer a {color:#b8bfc6; text-decoration:underline; padding:0 0 0 2px;}
	.footer a:hover, .footer a:active {color:#f36c40;}

.pagination {padding:15px 0; text-align: left; }
.pagination a {text-decoration: none;}

.terms-and-conditions input {width: 5%;  }
