{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" id="frmProfilePasswordChange" action="" class="profile">
{% csrf_token %}
   {% if form.errors or form.non_field_errors %}
    <p>{% trans "Oops, please make sure of the following:" %}</p>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
  {% endif %}
   <div>
      <label class="label-wide">{% trans "Old Password:" %}</label>
      <p>{{form.old_password}}</p>
      <span>{{form.old_password.errors}}</span>
   </div>
   <div>
      <label class="label-wide">{% trans "New Password:" %}</label>
      <p>{{form.new_password}}</p>
      <span>{{form.new_password.errors}}</span>
   </div>
   <div>
      <label class="label-wide">{% trans "Confirm New Password:" %}</label>
      <p>{{form.confirm_password}}</p>
      <span>{{form.confirm_password.errors}}</span>
   </div>
   <input type="submit" value='{% trans "Change Password" %}' class="btn btn-wide">
</form>
{% endblock %}