{% load wagtailcore_tags wagtailimages_tags %}

{% if sections %}
{% for section in sections %}

{# TODO: add category color #}
<div class="block yellow">
    <h6><a href="{% pageurl section %}">{{section.title}}</a></h6>

    {% with page=section.featured_articles|first %}
    {% if page %}
    <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
    <p>{{page.subtitle}}</p>
    {% endif %}
    {% endwith %}

    <div class="options">
    {% for page in section.featured_articles|slice:"1:3" %}
        <a href="{% pageurl page %}">{{page.title}} ></a>
    {% endfor %}
    </div><!-- /options -->
    {% if section.featured_articles %}
    <p><a href="{% pageurl section %}">+ VIEW MORE ARTICLES ABOUT {{section.title}}</a></p>
    {% endif %}
</div><!-- /block -->
{% endfor%}
{% endif %}
