{% load i18n humanize ndohyep_tags %}
<div class="comment {% if node.user|is_in_group:'Experts' %}expert{% endif %}">
  <p class="by">{{node.user_name}} <span class="date">{{node.submit_date|naturaltime}}</span></p>
  <p>{{node.comment}}</p>
  {% if not node.user|is_in_group:'Experts' %}
    <p><a href="{% url 'molo-comments-report' node.pk %}" class="report">{% trans "Report"%} +</a></p>
  {% endif %}
  {% if request.user|is_in_group:'Experts' and not node.user|is_in_group:'Experts' %}
    <p><a href="{% url 'comments-reply' node.pk %}" class="report">{% trans "Reply"%} +</a></p>
  {% endif %}
</div><!-- /comment -->
{% for child in node.get_children %}
  {% include "comments/comment.html" with node=child %}
{% endfor %}
