{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}

{% block content %}
<div class="block {{article.get_parent_section.get_effective_extra_style_hints}}">
  <br>
  <h4 class="left">{% trans "Thanks!" %}</h4>
</div>
<div class="block">
  <br>
  <p><strong>{% trans "This comment has been reported." %}</strong>
  {% trans "It will be reviewed by the B-Wise team and may be removed if it breaks our Platform rules" %}</p>
</div>

<div class="block {{article.get_parent_section.get_effective_extra_style_hints}}">
  <div class="back">
    <p>< <a href="{% pageurl article %}">{% trans "Back to article" %}</a></p>
  </div>
</div>
{% endblock %}
