{% extends "base.html" %}
{% load i18n %}

{% load static core_tags %}

{% block content %}

<div class="block"></div>
<div class="poll">
	<h6 class="speak">{% trans "SPEAK OUT" %}</h6>
	<h3>{{ question.title }}</h3>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div class="radios">
			<form action="{% url 'vote' question.id %}" method="post">
				{% csrf_token %}
				{% for choice in question.choices %}
					<div>
					    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
					    <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
					</div>
				{% endfor %}
				<div>
					<input type="submit" value="{% trans "Vote" %}" />
				</div>
			</form>
			<a href="{% url 'results' question.id %}">{% trans "See Results" %}</a>
		</div><!-- /radios -->
</div><!-- /block -->
{% endblock %}
