{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags poll_votings survey_postings %}

{% block content %}
<div class="block {{self.get_parent_section.get_effective_extra_style_hints}}">
{%  with parent=self.get_ancestors.last %}
    <h6><a href="{% pageurl parent %}">{{parent.title}}</a></h6>
{% endwith %}

    <h2>{{self.title}}</h2>
    <p>{{self.subtitle}}</p>
    {% if self.image %}{% image self.image width-240 %}{% endif %}
</div><!-- /block -->

<div class="block white">

    <div class="author-date">{{self.first_published_at|date:"j F Y"}}</div>

    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
  {% endfor %}
  {% poll_page page=self %}
  {% survey_page page=self %}
</div><!-- /block -->
{% endblock %}
