{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n poll_votings survey_postings comments mptt_tags molo_commenting_tags humanize ndohyep_tags %}


{% block content %}
{% get_comment_count for self as comment_count %}

<div class="title {{self.articlepage.get_parent_section.get_effective_extra_style_hints}}">
  {% with parent=self.get_parent_section.get_ancestors.last %}
    <h1>
      <a href="{% pageurl parent %}">{{parent.title}}</a>
      {% with section=self.get_parent_section %}
      <span><a href="{% pageurl section %}">{{section.title}}</a></span>
      {% endwith %}
    </h1>
  {% endwith %}
</div><!-- /title -->

<div class="block {{self.articlepage.get_parent_section.get_effective_extra_style_hints}}">
  <h2>{{self.title}}</h2>
  <p>{{self.subtitle}} </p>
</div><!-- /block -->

{% if messages %}
<div class="block messages">
    {% for message in messages %}
    <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
    {% endfor %}
</div>
{% endif %}

<div class="block white">

  {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
  {% endfor %}
  {% poll_page page=self %}
  {% survey_page page=self %}
</div><!-- /block -->

<div class="block {{self.articlepage.get_parent_section.get_effective_extra_style_hints}}">

  <div class="post-comment">
    <a href="" class="comments-count">{{comment_count}}</a>
    <h4>{% trans "Add a Comment" %}</h4>
    {% if request.user.is_authenticated %}
    {% render_comment_form for self %}
    {% else %}
    <p>{% trans "You need to be signed in to add a comment." %}</p>
    <a href="{% url 'auth_login' %}?next={% pageurl self %}"><button>{% trans "SIGN IN" %}</button></a>
    {% endif %}
  </div><!-- /post-comment -->


  {% get_molo_comments for self as comment_list limit 5 %}
  {% recursetree comment_list %}
  <div class="comment {% if node.user|is_in_group:'Experts' %}expert{% endif %}">
    <p class="by">{{node.user_name}} <span class="date">{{node.submit_date|naturaltime}}</span></p>
    <p>{{node.comment}}</p>
    {% if not node.user|is_in_group:'Experts' %}
      <p><a href="{% url 'molo-comments-report' node.pk %}" class="report">{% trans "Report"%} +</a></p>
    {% endif %}
    {% if request.user|is_in_group:'Experts' and not node.user|is_in_group:'Experts' %}
      <p><a href="{% url 'comments-reply' node.pk %}" class="report">{% trans "Reply"%} +</a></p>
    {% endif %}
  </div><!-- /comment -->
  {# recursion! children of a given comment #}
  {% if not node.is_leaf_node %}
    {{ children }}
  {% endif %}
  {% endrecursetree %}

  <p class="back"><a href="javascript: history.go(-1)">&lt; {% trans "Back" %}</a></p>

</div><!-- /block -->

{% endblock %}
