{% extends "core/_section_page.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n comments %}

{% block content %}

<div class="title {{self.get_effective_extra_style_hints}}">
  {% if self.image %}
    {% image self.image height-60 as tmp_photo %}
    <div class="image"><img src="{{ tmp_photo.url }}" alt="{{ section.image.title }}"
         class="right" /></div>
  {% endif %}
  <h1>{{self.title}}</h1>
  {% if self.description%}
  <p>{{self.description}}</p>
  {% endif %}
</div><!-- /title -->

{% for section in self.sections %}
<div class="block {{section.get_effective_extra_style_hints}}">
  {% if section.image %}
  {% image section.image width-240 as tmp_photo %}
  <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}" alt="{{ section.image.title }}"
       class="right hide" />
  {% endif %}
  <div class="title-container">
    <h2><a href="{% pageurl section %}">{{section.title}}</a></h2>
    {% if section.description %}
    <p>{{section.description}}</p>
    {% endif %}
  </div>

  {% for page in section.featured_articles %}
  {% get_comment_count for page as comment_count %}
  <div class="article-link">
    <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
    <a href="" class="comments-count">{{comment_count}}</a>
  </div><!-- /article-link -->
  {% endfor %}

  {% if section.featured_articles %}
  <p><a href="{% pageurl section %}">{% trans "More" %} +</a></p>
  {% endif %}
</div>
{% endfor %}

{% if self.articles %}
<div class="block {{self.get_effective_extra_style_hints}}">
  {% for page in self.articles %}
      {% get_comment_count for page as comment_count %}
      <div class="article-link">
        <h3><a href="{% pageurl page %}">{{page.title}} &gt;</a></h3>
        <a href="{% pageurl page %}#add-comment" class="comments-count">{{comment_count}}</a>
      </div><!-- /article-link -->
  {% endfor %}
</div>
{% endif %}
{% endblock %}
