{% extends "core/_section_page.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}

<div class="title yellow">
  {% if self.image %}
    {% image self.image height-60 as tmp_photo %}
    <div class="image"><img src="{{ tmp_photo.url }}" alt="{{ section.image.title }}"
         class="right" /></div>
  {% endif %}
  <h1>{{self.title}}</h1>
  {% if self.description%}
  <p>{{self.description}}</p>
  {% endif %}
</div><!-- /title -->

{% for section in self.sections %}
<div class="block {{section.get_effective_extra_style_hints}}">
  {% if section.image %}
  {% image section.image width-240 as tmp_photo %}
  <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}" alt="{{ section.image.title }}"
       class="right hide" />
  {% endif %}
  <h2><a href="{% pageurl section %}">{{section.title}}</a></h2>
  {% if section.description %}
  <p>{{section.description}}</p>
  {% endif %}

  {% for page in section.featured_articles %}
  <div class="article-link">
    <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
    <a href="" class="comments-count">12</a>
  </div><!-- /article-link -->
  {% endfor %}

  {% if section.featured_articles %}
  <p><a href="{% pageurl section %}">{% trans "More" %} +</a></p>
  {% endif %}
</div>
{% endfor %}

{% if self.articles %}
<div class="block {{self.get_effective_extra_style_hints}}">
  {% with page=self.articles|first %}
  {% if page %}
  <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
  <p>{{page.subtitle}}</p>
  {% if page.image %}{% image page.image width-240 %}{% endif %}
  {% endif %}
  {% endwith %}

  <div class="options">
  {% for page in self.articles|slice:"1:" %}
      <a href="{% pageurl page %}">{{page.title}} ></a>
  {% endfor %}
  </div><!-- /options -->
</div>
{% endif %}
{% endblock %}
