{% extends "base.html" %}
{% load i18n static core_tags %}

{% block content %}
<div class="profile">
    <h2>{% trans "JOIN THE B-WISE COMMUNITY!" %}</h2>
    <h4>{% trans "Not a member yet? Join us by signing up below." %}</h4>
  <div class="signin-form">
    <form method="post" action="{% url 'molo.profiles:user_register' %}">{% csrf_token %}
        <p>{% trans "Choose a username" %}</p>
        {% if form.username.errors %}
           {{ form.username.errors}}
        {% endif %}
        {{ form.username }}
        <p>{% trans "Choose a 4-digit pin" %}</p>
        {% if form.password.errors %}
           {{ form.password.errors}}
        {% endif %}
        {{ form.password }}
        <div class="terms-and-conditions">
          {% if form.terms_and_conditions.errors %}
            <strong>* {% trans "Please accept the T&amp;Cs in order to complete the registration" %}</strong>
            <br>
          {% endif %}
          <br>
          {{ form.terms_and_conditions }}
          <span >{% trans "I accept the Terms and Conditions" %}</span>
        </div>
        <input type="submit" value='{% trans "JOIN" %}'/>
        <input type="hidden" name="next" value="{% url 'molo.profiles:registration_done' %}"/>
        </br>
        <a href="{% url 'molo.profiles:auth_login' %}">{% trans "ALREADY A MEMBER?" %}</a>
    </form>
  </div>
</div>
{% endblock %}
