
{% extends "_base.html" %}

{% load wagtailcore_tags compress static i18n %}

{% block main_css %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ndohyep.css' %}?v=20150615">
<link rel="stylesheet" type="text/x-scss" media="screen and (min-width: 20em)" href="{% static 'css/ndohyep.enhanced.scss' %}?v=20150619">
{% endcompress %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
<div class="header" id="top">

    <a href="/"><img src="{% static 'img/logo.png' %}" alt="{% trans "Home" %}" class="logo"></a>

    <div id="menu">
        <ul id="nav">
            <li><a href="#nav-area">{% trans "Menu" %}</a></li>
        </ul>
    </div><!-- /menu -->

    <div class="colorLines">
        <div class="yellow"></div>
        <div class="orange"></div>
        <div class="lightblue"></div>
        <div class="blue"></div>
        <div class="darkblue"></div>
    </div><!-- /colorLines -->

</div><!-- /header -->
{% endblock %}

{% block bottom %}
<div id="nav-area" class="yellow">
    <a href="#top" class="backtotop">{% trans "Back to top" %}</a>

{% comment %}
    <div class="search-form">
        <input placeholder="{% trans "Type keyword here" %}" type="search">
        <a href="">{% trans "GO" %}</a>
    </div>
{% endcomment%}

    <ul class="nav">
        {% if user.is_authenticated %}
            <div class="profileHolder"> {% trans "Logged in" %}:
                {% if user.profile.alias %}
                    <strong>{{ user.profile.alias }}</strong>
                {% else %}
                    <strong>{% trans "Anonymous" %}</strong>
                {% endif %}
            </div>
            <li><a href="{% url 'view_my_profile' %}">{% trans "My profile" %}</a></li>
            <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
        {% else %}
            <li><a href="{% url 'auth_login' %}">{% trans "Log In" %}</a></li>
            <li><a href="{% url 'user_register' %}">{% trans "Register" %}</a></li>
        {% endif %}
        <li><a href="/">{% trans "Home"|upper %}</a></li>
        {% for section in language_page.sections %}
        <li><a href="{% pageurl section %}">{{section.title|upper}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
<div class="footer">

    <p><img src="{% static 'img/dpt-health.gif' %}" alt="{% trans "Department of Health, Republic of South Africa" %}"></p>
    <p>
        {% for page in language_page.footers %}
        <a href="{% pageurl page %}">{{page.title}}</a>
        {% endfor %}
    </p>

    <p>&copy; {% now "Y" %} <a href="http://www.health.gov.za/">{% trans "Department of Health, Republic of South Africa" %}</a></p>

    <div class="colorLines">
        <div class="yellow"></div>
        <div class="orange"></div>
        <div class="lightblue"></div>
        <div class="blue"></div>
        <div class="darkblue"></div>
    </div><!-- /colorLines -->
</div>
{% endblock %}
