
{% extends "_base.html" %}

{% load wagtailcore_tags compress static i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block extra_style %}
<!-- Adding this here because in needs to be updated in the designs -->
<style type="text/css">
  #lang{}
    #lang li{display: inline;}
</style>
{% endblock %}

{% block header %}
<div class="header">
    <a href="/"><img src="{% static 'img/masthead.png' %}" alt="B-WISE!"></a>
</div>

<div class="header" id="top">
    <a href="/"><img src="{% static 'img/b-wise.png' %}" alt="B-WISE!" class="logo"></a>

    <div class="feature-menu">
        <a href="">{% trans "Profile" %}</a>
        <a href="#feature-menu">{% trans "Menu" %}</a>
    </div>

    <div class="menu">
    {% if not user.is_authenticated %}
      <div class="menuItem hide" id="profile">
        <span class="menuIcon">{% trans "Profile" %}</span>
        <div class="content">
            <div class="join">
                <h2>{% trans "Join the community!" %}</h2>
                <h4>{% trans "We’re excited to meet you..." %}</h4>
                <div class="signin-form">
                    <form method="post" action="{% url 'user_register' %}">{% csrf_token %}
                        {{registration_form}}
                        <input type="submit" value="{% trans 'Join' %}"><br>
                        <input type="hidden" name="next" value="{{request.site.root_page.url}}" />
                    </form>
                    <a href="{% url 'auth_login' %}" class="white-link">already a member?</a>
                </div><!-- /signin-form -->
            </div><!-- /join -->
        </div><!-- /content -->
      </div><!-- /menuItem -->
    {% endif %}

      <div class="menuItem hide" id="search">
        <span class="menuIcon">{% trans "Search" %}</span>
        <div class="content">
            <div class="search-form">
                <input type="search" placeholder="{% trans 'Search for something...' %}">
                <input type="submit" value="{% trans 'Search' %}">
            </div>
        </div><!-- /content -->
      </div><!-- /menuItem -->

      <div class="menuItem hide" id="pages">
        <span>{ % trans "Pages" %}</span>
        <div class="content">
            <ul>
                {% for section in language_page.sections %}
                <li class="{{section.get_effective_extra_style_hints}}">
                  <a href="{% pageurl section %}">{{section.title|upper}}</a>
                </li>
                {% endfor %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'view_my_profile' %}">{% trans "My profile"|upper %}</a></li>
                    <li><a href="{% url 'auth_logout' %}">{% trans "Log out"|upper %}</a></li>
                {% endif %}
            </ul>
        </div><!-- /content -->
      </div><!-- /menuItem -->

    </div><!-- /menu -->

</div>
{% endblock %}


{% block bottom %}
<div id="feature-menu">
    <p class="backtotop"><a href="#top">&lt; {% trans "Back to top" %}</a></p>
    <ul>
        <li>{% trans "Menu" %}</li>
        {% for section in language_page.sections %}
        <li class="{{section.get_effective_extra_style_hints}}">
          <a href="{% pageurl section %}">{{section.title|upper}}</a>
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li class="turq"><a href="{% url 'view_my_profile' %}">{% trans "My profile"|upper %}</a></li>
            <li><a href="{% url 'auth_logout' %}">{% trans "Log out"|upper %}</a></li>
        {% endif %}
    </ul>
</div><!-- /feature-menu -->
{% endblock %}

{% block footer %}
<div class="footer">
  <p><img src="{% static 'img/dpt-health.gif' %}" alt="{% trans 'Department of Health logo' %}"></p>

  {% if languages %}
  <p>
    <strong>{% trans "Site Language:" %}</strong>
      {% for language in languages %}
      <a href="{% url 'locale_set' language.code %}">{{language.title}}</a>
      {% endfor %}
  </p>
  {% endif %}

  {% if language_page.footers %}
  <p>
    {% for page in language_page.footers %}
    <a href="{% pageurl page %}">{{page.title}}</a>
    {% endfor %}
  </p>
  {% endif %}

  <p>&copy; {% now "Y" %} <a href="http://www.health.gov.za/">{% trans "Department of Health, Republic of South Africa" %}</a></p>
</div>
{% endblock %}
