{% extends "base.html" %}
{% load i18n %}
{% load static core_tags %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="block grey join">
    <h2>{% trans "Join the community!" %}</h2>
    {% if REGISTRATION_OPEN %}
    <h4>{% trans "We’re excited to meet you..." %}</h4>
    <div class="signin-form">
        <form method="post" action="{% url 'user_register' %}">{% csrf_token %}
            {{ form }}
	        <input type="submit" class="registerSubmit" value='{% trans "Register" %}' />
	    </form>
        <a href="{% url 'auth_login' %}" class="white-link">already a member?</a>
    </div><!-- /signin-form -->
    {% else %}
    <h4>{% trans "Registration is currently closed. Please check again soon." %}</h4>
    {% endif %}
</div><!-- /join -->
{% endblock %}
